
body{background-color: #000;}
.slider-section .carousel-item{
	height: 90vh;
}
@media only screen and (max-width: 768px) {
  .carousel-item {
    height:auto;
  }
}
.carousel-caption {
    position: absolute;
    /* right: 15%; */
    /* bottom: 20px; */
    /* left: 15%; */
    left: 50%;
    top: 50%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}
.about-sec{
	background-image: url(../images/pic.jpg);
	background-size: cover;
	background-position: center center;
	height: 250px;
	position: relative;
}
.overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,.7);

}section.text-center.border.border-primary.p-3{
	background-color: #fff;
}
section.text-center.border.border-primary.p-3:hover {
    background-color: darkcyan;
    transition: .7s;
    color: #fff;
}
.banner-sec{
    background-image: url(../images/banner.jpg);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.banner-sec{
    position: relative;

}
.banner-sec .col-md-12{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.what-we-are .about-img {
    margin-top: -39px;
}
.carousel-item p {
    width: 77%;
    text-align: center;
    margin: 0 auto;
}
.member-sec .card.d-block.w-100 {
    border: 0px solid;
}
.member-sec .col-md-3{
    padding: 5px;
}
.member-sec .card-title {
    margin-bottom: 0px;
}
li.list-group-item.get-it {
    margin: 0;
    padd
}
li.list-group-item.get-it {
    position: relative;
    display: block;
    padding: 0rem 0rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
li.get-it a{
    padding: .75rem 0px;
    border: 0px solid;
    border-radius: 0px;
}
.banner-sec{
    position: relative;
    top: 0;
    left: 0;

}
.about-section, .about-sec, .service-sec, .gallery-sec{
    background-color: #fff;
}
.banner-sec .blog-ban{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(25, 42, 86,0.7);
    color:white;
    font-family:sans-serif; 
}
<<<<<<< HEAD
@media only screen and (max-width: 480px){
    #store .col-sm-6{
        width: 48%;
    }
    #store .product li.product {
        width: 100%;
    }
}

i.fa.fa-times {
    font-size: 26px;
    color: white;
    display: block;
    text-align: center;
    /* border: 1px solid red; */
    padding: 10px;
    width: 43px;
    margin: 0 auto;
    border: 1px solid;
}
.customer-section{
    display: flex;
    word-wrap: wrap;
    padding: 45px 0px;

}
.box{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #0a0923;
    width: 300px;
    margin: 15px auto;
}
.box:before{
    content: '';
    position: absolute;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    background-color: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    background-color: #fff;
    z-index: -1;
    filter: blur(30px);
}
.box .glass{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: rgba(255,255,255,.1);
}
.box .content{
    padding: 20px;
    color: #fff;
}




.box:nth-child(1):before,.box:nth-child(1):after{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);

}
.box:nth-child(2):before,.box:nth-child(2):after{
    background: linear-gradient(235deg,#001def,#010615,#9100ff);

}

.box:nth-child(3):before,.box:nth-child(3):after{
    background: linear-gradient(235deg,#bd2130,#010615,#d40093);

=======
.carousel-caption {
    display: block;
    width: 50%;
    text-align: right;
    height: 136px;
    border-right: 3px solid rebeccapurple;
    border-left: 3px solid rebeccapurple;
    text-align: center;
    vertical-align: middle;
>>>>>>> 9ff755f531f8747330306fe4ef733450e2846941
}