.grad{
	height: 100vh;
	width: 100%;

}
.grad img{
	width: 350px;
	height: 350px;
	margin: 0 auto;
}
article h2{
	text-shadow: 0px 2px 5px rgba(0,0,0,0.6), 0px 3px 3px rgba(0,0,0,0.6);
}
article img{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}