.fullpage{
	background-image: linear-gradient(to right,cyan,black);
	height:auto;	
	width: 90%;
	display: block;
	margin: 0 auto;
}

.headline{
	background-color: gray;
	padding: 20px 10px;
	text-align: center;
}
.fullpage strong{
	font-size: 25px;
	color:white;
}
.codingsec{
	height: auto;
	width: 100%;
	padding:2px 10px;
}


.footer{
	background-color: gray;
	padding: 20px 02px;
	text-align: center;
}
a.nav-link {
    color: white !important;
    text-transform: capitalize;
    font-family: cursive;
}